demo/appLog*

##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*
java/build/**
demo/java/build/**

demo/target/

##############################
## Maven
##############################
demo/log/
log/
demo/target/
target/
demo/pom.xml.tag
demo/pom.xml.releaseBackup
demo/pom.xml.versionsBackup
demo/pom.xml.next
demo/pom.xml.bak
demo/release.properties
demo/dependency-reduced-pom.xml
demo/buildNumber.properties
demo/.mvn/timing.properties
demo/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store

##############################
## Miscellaneous
##############################
*.log

.DS_STORE
node_modules
frontendUpdated/node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
_benchmarks_
frontendUpdated/build/
frontendUpdated/remote-repo/
frontendUpdated/coverage/
frontendUpdated/.module-cache
frontendUpdated/fixtures/dom/public/react-dom.js
frontendUpdated/fixtures/dom/public/react.js
frontendUpdated/test/the-files-to-test.generated.js
.log
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

frontendUpdated/packages/react-devtools-core/dist
frontendUpdated/packages/react-devtools-extensions/chrome/build
frontendUpdated/packages/react-devtools-extensions/chrome/*.crx
frontendUpdated/packages/react-devtools-extensions/chrome/*.pem
frontendUpdated/packages/react-devtools-extensions/firefox/build
frontendUpdated/packages/react-devtools-extensions/firefox/*.xpi
frontendUpdated/packages/react-devtools-extensions/firefox/*.pem
frontendUpdated/packages/react-devtools-extensions/shared/build
frontendUpdated/packages/react-devtools-extensions/.tempUserDataDir
frontendUpdated/packages/react-devtools-fusebox/dist
frontendUpdated/packages/react-devtools-inline/dist
frontendUpdated/packages/react-devtools-shell/dist
frontendUpdated/packages/react-devtools-timeline/dist
